body {
    background-image: url("{% static 'main/img/background.jpg' %}");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
}


aside {
    float: left;
    width: 13%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    position: relative;
    z-index: 1;

}

aside::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(13% + 2.5% * 2);
    background-color: rgb(208, 248, 220, 0.25);
    border-right: 2px solid rgba(209, 186, 186, 0.35);
    z-index: -1;
}


aside img {
    width: 40px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 50px;
    font-weight: bold;
    position: relative;
    top: -50px;
}

aside h3 {
    margin-top: 50px;
    font-size: 30px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .7s ease;
}

aside ul li:hover, aside ul a, u:hover {
    color: darkred;
    text-decoration: none;
    transform: scale(1.03);
}

main .features {
    float: left;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.machine-block {
    background-color: rgba(177, 37, 37, 0.6);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    text-align: left;
    box-shadow: 0 0 10px rgba(152, 61, 61, 0.5);
    border: 1px solid rgba(255,255,255,0.2);
}


form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}



.card {
    background-color: rgba(195, 241, 221, 0.25);
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}

.my-carousel {
  max-width: 1900px;
  margin: 0 auto;
}

.my-carousel .carousel-inner img {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}


.custom-title {
    font-size: 150px;
    font-weight: 1000;
    color: #ffffff;

}

