{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Создание заявки{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'orders/css/order_create.css' %}">
{% endblock %}

{% block content %}

    <form method="post" class="order-create-form">
        <h2>Создать заявку</h2>
        {% csrf_token %}

        <div class="form-group">
            <label for="order_number">Номер заявки:</label>
            <input type="text" name="order_number" id="order_number" required>
        </div>

        <h3>Детали:</h3>
        {{ formset.management_form }}

        {% for form in formset %}
            <div class="form-row">
                {{ form.as_p }}
            </div>
        {% endfor %}

        <button type="submit" class="btn-submit">Сохранить заявку</button>
    </form>
{% endblock %}