{% extends 'main/layout.html' %}

{% block title %}Страница о чем-то{% endblock %}

{% block content %}
    <div class="features machine-form">
        <h1>ПРО НАС</h1>
        <p>Компания является ведущим российским разработчиком и производителем гироскопов, гравиметров и навигационных комплексов полного цикла.

🔬Компания осуществляет полный цикл производства: от фундаментальных научных исследований и проектирования — до сборки, калибровки и сервисного обслуживания оборудования. Благодаря этому обеспечивается исключительный контроль качества и высокая надёжность продукции.

📍 На сегодняшний день у компании 4 филиала в разных регионах России, что позволяет оперативно решать задачи и быть ближе к своим заказчикам. Каждый филиал выполняет специализированные функции — от разработки программного обеспечения до испытаний в реальных условиях.

🏛️ Важным достижением стало включение нашей организации в структуру Объединённой судостроительной корпорации (ОСК) — что подтверждает её стратегическую значимость и открывает новые горизонты для развития в морской и подводной навигации.

"Навитек-Инжиниринг" продолжает уверенно двигаться вперёд, оставаясь символом технологической точности, инженерного мастерства и надёжности.</p>
        <a href="{% url 'home' %}"><buttom class="btn btn-outline-danger">На страницу главная</buttom></a>
    </div>
<!-- {% include 'main/test.html' %} -->
{% endblock %}