{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}
<div class="news">
    <img src="{% static 'main/img/news.png' %}" alt="machines">
</div>
<div class="features">
    <div class="container trending">
        <div class="content">
            <div class="top">
                <a href="{% url 'machines_home' %}">
                    <img src="{% static 'main/img/machines_url_group.png' %}" alt="machines">
                </a>
            </div>

            <div class="bottom-row">
                <div class="block">
                    <a href="{% url 'orders_home' %}">
                        <img src="{% static 'main/img/orders_url_group.png' %}" alt="orders">
                    </a>
                </div>
                <div class="block">
                    <a href="{% url 'schedule_home' %}">
                        <img src="{% static 'main/img/schedule_url_group.png' %}" alt="schedule">
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}