<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMART INDUSTRY</title>
    <link rel="stylesheet" href="{% static 'main/css/main_test.css' %}">
    <style>
        body {
            background-image: url("{% static 'main/img/background.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
</head>
<body>
    <header class="container"></header>
        <span class="logo">SMART INDUSTRY</span>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Machine</a></li>
                    <li class="btn"><a href="#">Schedule</a></li>
                </ul>
            </nav>
</body>
</html>